@model AdditionalsCVM



<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Additionals
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Additional Equipment</span>
                </div>

            </div>
            <div class="portlet-body form">
            </div>
            <form role="form" asp-controller="Events" asp-action="AddAdditionalEquipment" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessEquipment" data-ajax-failure="OnFailure">

                <div class="modal-body">

                    <input type="hidden" class="form-control" asp-for="EventID" readonly>

                    @{

                        if (Model.EquipmentRequested != null)
                        {
                            <table class="table table-striped table-bordered table-hover order-column events" id="sample_1">
                                <thead>
                                    <tr>

                                        <th> Equipment Code </th>
                                        <th> Equipment </th>
                                        <th> Requested Quantity </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.EquipmentRequested)
                                    {
                                        <tr data-id="@item.ID">
                                            <td>@Html.DisplayFor(modelItem => item.EquipmentDetails.Code)</td>
                                            <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.Name)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Quantity)</td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        }

                    }


                    <div class="form-body">

                        <div class="form-group">
                            <label>Select Equipment </label>
                            @Html.DropDownListFor(m => m.AdditionalEquipmentRequest.EquipmentDetailsID, Model.EquipmentList, "--SELECT EQUIPMENT--", new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" placeholder="" asp-for="AdditionalEquipmentRequest.Quantity">
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Add</button>
                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form>






        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Additional Dish</span>
                </div>

            </div>
            <div class="portlet-body form">
            </div>
            <form role="form" asp-controller="Events" asp-action="AddAdditionalDish" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessDish" data-ajax-failure="OnFailure">

                <div class="modal-body">

                    <div class="form-body">

                        <input type="hidden" class="form-control" asp-for="EventID" readonly>


                        @{

                            if (Model.DishRequested != null)
                            {
                                <table class="table table-striped table-bordered table-hover order-column events" id="sample_1">
                                    <thead>
                                        <tr>

                                            <th> Dish Name </th>
                                            <th> Requested Quantity </th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.DishRequested)
                                        {
                                            <tr data-id="@item.ID">
                                                <td>@Html.DisplayFor(modelItem => item.Dish.Name)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>


                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            }

                        }


                        <div class="form-body">

                            <div class="form-group">
                                <label>Select Dish </label>
                                @Html.DropDownListFor(m => m.AdditionalDishRequest.DishID, Model.DishList, "--SELECT DISH--", new { @class = "form-control" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" placeholder="" asp-for="AdditionalDishRequest.Quantity">
                        </div>


                        @*<div class="form-group" style="visibility:hidden">
                                <label id="eventID"> Event Name  </label>
                                <input type="text" class="form-control" asp-for="EventDetailsID" readonly> </input>
                            </div>*@
                        @*<div class="form-group">
                                <label id="eventID"> Event Name  </label>
                                <input type="text" class="form-control" asp-for="EventDetails.EventName" readonly>   </input>

                                <input type="hidden" class="form-control" asp-for="EventDetailsID" readonly>   </input>
                            </div>

                            <div class="form-group">
                                <label>Reference Number</label>
                                <input type="text" class="form-control" placeholder="" asp-for="ReferenceNumber">
                            </div>


                            <div class="form-group">
                                <label>Amount</label>
                                <input type="number" class="form-control" asp-for="Amount" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="number" class="form-control" asp-for="Remarks" placeholder="">
                            </div>*@
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Add</button>
                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form>






        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Additional Duration</span>
                </div>

            </div>
            <div class="portlet-body form">
            </div>
            <form role="form" asp-controller="Events" asp-action="AddAdditionalDuration" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessHours" data-ajax-failure="OnFailure">

                <div class="modal-body">

                    <div class="form-body">

                        @*<div class="form-group" style="visibility:hidden">
                                <label id="eventID"> Event Name  </label>
                                <input type="text" class="form-control" asp-for="EventDetailsID" readonly> </input>
                            </div>*@
                        @*<div class="form-group">
                                <label id="eventID"> Event Name  </label>
                                <input type="text" class="form-control" asp-for="EventDetails.EventName" readonly>   </input>

                                <input type="hidden" class="form-control" asp-for="EventDetailsID" readonly>   </input>
                            </div>

                            <div class="form-group">
                                <label>Reference Number</label>
                                <input type="text" class="form-control" placeholder="" asp-for="ReferenceNumber">
                            </div>


                            <div class="form-group">
                                <label>Amount</label>
                                <input type="number" class="form-control" asp-for="Amount" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="number" class="form-control" asp-for="Remarks" placeholder="">
                            </div>*@
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Add</button>
                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form>






        </div>

    </div>
</div>
<!-- End: life time stats -->


<div class="modal fade" id="success-dish" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close view" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Added Successfully.</h4>
            </div>
            <div class="modal-body">Dish Added to Event successfully.</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline view" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success-equipment" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close view" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Added Successfully.</h4>
            </div>
            <div class="modal-body">Equipment Added to Event successfully.</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline view" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="success-hours" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close view" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"> Added Successfully.</h4>
            </div>
            <div class="modal-body">Your Additional Hours has been Added to Event successfully.</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline view" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="failedtoadd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close update-again" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Failed to Add in Event</h4>
            </div>
            <div class="modal-body"> Please try again.</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline update-again" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSuccessDish(result) {

            $("#success-dish").modal('show');



        }
        function OnSuccessHours(result) {

            $("#success-hours").modal('show');



        }
        function OnSuccessEquipment(result) {

            $("#success-equipment").modal('show');



        }
        function OnFailure(result) {

            $("#failedtoadd").modal('show');

        }

                var event = '@Model.EventID';
    $(document).on('click', '.view', function (e) {




    var url = '@Url.Action("Additional", "Events", new { EventID = "__id__" })';
    window.location.href = url.replace('__id__', event);


    });
    $(document).on('click', '.update-again', function (e) {




    var url = '@Url.Action("Additional", "Events", new { EventID = "__id__" })';
    window.location.href = url.replace('__id__', event);


    });
    </script>




    <partial name="_ValidationScriptsPartial" />

}