@model AdditionalsCVM

@{
    ViewData["Title"] = "Additional  ";
}

 
<div class="container-fluid">
    <h3 class="text-dark mb-4">Additional Details</h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-controller="Events" asp-action="AddAdditionalDish" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="card shadow mb-3">

                            <input type="hidden" class="form-control" asp-for="EventID" readonly>
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold">
                                            <button class="btn btn-primary btn-sm" type="submit">Add </button>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="address"><strong>Dish</strong></label>

                                                @Html.DropDownListFor(m => m.AdditionalDishRequest.DishID, Model.DishList, "--SELECT DISH--", new { @class = "form-control" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Quantity per Serving</strong></label>
                                                <input type="number" class="form-control" placeholder="" asp-for="AdditionalDishRequest.Quantity">
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-controller="Events" asp-action="AddAdditionalEquipment" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

                        <input type="hidden" class="form-control" asp-for="EventID" readonly>
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold">
                                            <button class="btn btn-primary btn-sm" type="submit">Add </button>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="address"><strong>Equipment</strong></label>

                                                @Html.DropDownListFor(m => m.AdditionalEquipmentRequest.EquipmentDetailsID, Model.EquipmentList, "--SELECT EQUIPMENT--", new { @class = "form-control" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Quantity</strong></label>

                                                <input type="number" asp-for="AdditionalEquipmentRequest.Quantity" class="form-control">
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-controller="Events" asp-action="AddAdditionalDuration" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

                        <input type="hidden" class="form-control" asp-for="EventID" readonly>
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold">
                                            <button class="btn btn-primary btn-sm" type="submit">Add </button>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="address"><strong>Additional Hours</strong></label>                                              
                                                @Html.TextBoxFor(x => x.AdditionalDurationRequest.Duration, "{0:hh\\:mm}")
                                                                                
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            
             

            @{
                if (Model.EquipmentRequested != null)
                {
                    <div class="card mb-3">

                        <div class="card-body text-center shadow">

                            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th> Equipment Code </th>
                                            <th> Equipment </th>
                                            <th> Quantity </th>
                                            <th> Unit  </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.EquipmentRequested)
                                        {
                                            <tr data-id="@item.ID">
                                                <td>@Html.DisplayFor(modelItem => item.EquipmentDetails.Code)</td>
                                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.Name)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.UnitType)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Code</strong></td>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Quantity</strong></td>
                                            <td><strong>Unit</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>





                        </div>
                    </div> } }

            @{
                if (Model.DishRequested != null)
                {
                    <div class="card mb-3">

                        <div class="card-body text-center shadow">

                            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th> Dish</th>
                                            <th> Requested Quantity </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.DishRequested)
                                        {
                                            <tr data-id="@item.ID">
                                                <td>@Html.DisplayFor(modelItem => item.Dish.Name)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Dish</strong></td>
                                            <td><strong>Requested Quantity</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>





                        </div>
                    </div> } }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnSuccess(result) {           

         id = @Model.EventID
        var url = '@Url.Action("Additional", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
        }



        function OnFailure(result) {
            alert("failed");

        }

    
    </script>




    <partial name="_ValidationScriptsPartial" />

}