@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventViewCVM

<div class="container-fluid" style="margin-top: 10px;">
    @if (User.IsInRole("Admin"))
    {
        <h3 class="text-dark mb-4">Events</h3>
    }
    <div style="margin: 10px;">
        <div class="row">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Pending</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <kendo-grid name="grdPendingEvents">
                <datasource type="DataSourceTagHelperType.Ajax" page-size="10" server-operation="true">
                    <transport>
                        <read url="/Events/PendingEvents" />
                    </transport>
                    <sorts>
                        <sort field="BookingDate" direction="desc" />
                    </sorts>
                    <schema>
                        <model>
                            <fields>
                                <field name="BookingDate" type="Date" />
                                <field name="EventDate" type="Date" />
                            </fields>
                        </model>
                    </schema>
                </datasource>
                <no-records template="<p>No records found</p>" />
                <pageable enabled="true" refresh="true" />
                <columns>
                    <column field="BookingDate" format="{0:MMM dd, yyyy}" title="Booking Date" width="120" />
                    <column field="EventDate" format="{0:MMM dd, yyyy}" title="Event Date" width="120" />
                    <column field="EventName" title="Event" />
                </columns>
            </kendo-grid>

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Client</th>
                            <th>Coordinator</th>
                            <th>  </th>
                            <th>  </th>
                            <th>  </th>
                            <th>  </th>
                        </tr>
                    </thead>

                    <tbody>
                      
                    </tbody>

                    <tfoot>
                        <tr>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong> </strong></td>
                            <td><strong> </strong></td>
                            <td><strong> </strong></td>
                            <td><strong> </strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Incoming</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Client</th>
                            <th>Coordinator</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Completed</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0 responsive  display" id="dataTable">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Client</th>
                            <th>Coordinator</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Closed</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0 responsive  display" id="dataTable">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Client</th>
                            <th>Coordinator</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Cancelled</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0 responsive  display" id="dataTable">
                    <thead>
                        <tr>
                            <th>Booking Date</th>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Client</th>
                            <th>Coordinator</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                     
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script>

    $(document).on('click', 'tr .view', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("Details", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
    });

     $(document).on('click', 'tr .add-menu', function (e) {
        id = $(this).closest('tr').attr('data-id');
         var url = '@Url.Action("MenuForm", "Events", new { EventID = "__id__" })';
         window.location.href = url.replace('__id__', id);
    });

    $(document).on('click', 'tr .add-additional', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("Additional", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
    });

     $(document).on('click', 'tr .change-status', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("ChangeEventStatusToForApproval", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
    });

     $(document).on('click', 'tr .view', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("Details", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
    });

    $(document).on('click', 'tr .add-payment', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("AddPayment", "Payment", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
    });

     $(document).on('click', 'tr .service-charge', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("ServiceCharge", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
     });

     $(document).on('click', 'tr .checkIn', function (e) {
        id = $(this).closest('tr').attr('data-id');
        var url = '@Url.Action("CheckInEquipmentStockList", "Inventory", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', id);
     });

     $(document).on('click', 'tr .view-payment', function (e) {
         try {
            id = $(this).closest('tr').attr('data-id');
            var url = '@Url.Action("Record", "Payment", new { EventID = "__id__" })';
            window.location.href = url.replace('__id__', id);
            }
         catch (err) {
             alert(err);
         }
    });

    </script>
}