
@{


    ViewData["Title"] = "Update Event Details";
}

@model ViewEventCVM
 

<div class="container-fluid">
    <h3 class="text-dark mb-4">Update Event Details </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">

                    <form role="form" asp-controller="Events" asp-action="UpdateEvent" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">

                                    @Html.HiddenFor(m => m.EventDetails.ID)

                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        
                                        @if (Model.EventDetails.EventStatus.ToString() != "Approved")
                                        {

                                            if (User.IsInRole("Coordinator"))
                                            {
                                                <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Save</button></p>
                                            }

                                        }
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="address"><strong>Client</strong></label>
                                                @Html.DropDownListFor(model => model.EventDetails.EventClientID, ViewBag.Clients as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Event Type</strong></label>

                                                @Html.DropDownListFor(model => model.EventDetails.Type, ViewBag.OccasionType as IEnumerable<SelectListItem>, new { @class = "form-control" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event Name</strong></label>

                                                @Html.EditorFor(model => model.EventDetails.EventName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event Date</strong></label>
                                                @Html.EditorFor(model => model.EventDetails.EventDate ,new { htmlAttributes = new { @class = "form-control form-control-inline datepicker" ,  @Value = @Model.EventDetails.EventDate.ToShortDateString() } })
                                             </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Theme</strong></label>


                                                @Html.EditorFor(model => model.EventDetails.Theme, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Description</strong></label>

                                                @Html.EditorFor(model => model.EventDetails.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event Location</strong></label>

                                                @Html.EditorFor(model => model.EventDetails.Location, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Location Area</strong></label>

                                                @Html.DropDownListFor(model => model.EventDetails.LocationType, ViewBag.LocationType as IEnumerable<SelectListItem>, new { @class = "form-control" })



                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Set Up Time</strong></label>
                                                @Html.EditorFor(model => model.EventDetails.EntryTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Program Starts at </strong></label>
                                                @Html.EditorFor(model => model.EventDetails.ProgramStart, new { htmlAttributes = new { @class = "form-control", @type = "time" } })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Serving Time </strong></label> 

                                                @Html.EditorFor(model => model.EventDetails.ServingTime, new { htmlAttributes = new { @class = "form-control", @type = "time"  } })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Serving Type </strong></label>

                                                @Html.EditorFor(model => model.EventDetails.NumberOfGuests, new { htmlAttributes = new { @class = "form-control", @type = "number" } })


                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Is Venue in Building/Condominium?</strong></label>

                                                @Html.DropDownListFor(model => model.EventDetails.VenueType, ViewBag.VenueType as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">

                                                <label for="first_name"><strong>Event Package</strong></label>
                                                @Html.DropDownListFor(model => model.EventDetails.PackageDetailsID, ViewBag.Packages as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Number of Guests</strong></label>
                                                @Html.EditorFor(model => model.EventDetails.NumberOfGuests, new { htmlAttributes = new { @class = "form-control", @type = "number" } })

                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Remarks</strong></label>


                                                @Html.EditorFor(model => model.EventDetails.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        
                var event = '@Model.EventDetails.ID';
            function OnSuccess(result) {




        var url = '@Url.Action("Details", "Events", new { EventID = "__id__" })';
        window.location.href = url.replace('__id__', event);


        }

        function OnFailure(result) {

                $("#failedtoedit").modal('show');

        }
          
         $(document).on('click', '.view', function (e) {




            var url = '@Url.Action("Details", "Events", new { EventID = "__id__" })';
            window.location.href = url.replace('__id__', event);


            });
        $(document).on('click', '.update-again', function (e) {




            var url = '@Url.Action("Update", "Events", new { EventID = "__id__" })';
            window.location.href = url.replace('__id__', event);


        });
        
    </script>



    <partial name="_ValidationScriptsPartial" /> 

} 
