@{
    ViewData["Title"] = "Inventory";

    Layout = "/Views/Shared/_Layout.cshtml";

}

@model FoodRestockRequestDetailsCVM
@section Scripts{
    <script>
        var id = @Model.FoodRequest.ID;

        $(document).on('click', ' #btnSubmit', function (e) {
            var url = '@Url.Action("ApproveFoodRequest", "Inventory", new { id = "__id__"  })';
            window.location.href = url.replace('__id__', id)
        });

        $('document').ready(function () {
            $('#btnDecline').on('click', function () {
                var declineRemarks = prompt("Reason of Rejecting");
                $.post('/Inventory/DeclineFoodRequest', { id: id, remarks: declineRemarks })
                    .done(function (r) {
                        window.location = "/Inventory/FoodRestockRequestDetails?id=" + id;
                    })
                    .fail(function (err) {
                        console.log("Fail");
                    })
            });
        })
    </script>
}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Food Request Details</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold"> Date Requested: @Html.DisplayFor(a => a.FoodRequest.DateTimeRequest) </p>
                    @{ if (Model.FoodRequest.Status == Status.ForApproval)
                        {
                            <p class="text-primary m-0 font-weight-bold"> Status: @Html.DisplayName("For Approval") </p>
                        }
                        else
                        {
                            <p class="text-primary m-0 font-weight-bold"> Status: @Html.DisplayFor(a => a.FoodRequest.Status) </p>
                        }}
                    <p class="text-primary m-0 font-weight-bold"> Requested By: @Html.DisplayFor(a => a.FoodRequest.InventoryManager.Name) </p>
                    @{
                        if (Model.FoodRequest.Status == Status.Declined)
                        {
                            <p class="text-primary m-0 font-weight-bold"> Remarks: @Html.DisplayFor(a => a.FoodRequest.Remarks) </p>
                        }
                    }
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <p class="text-primary m-0 font-weight-bold">

                        @{ if (User.IsInRole("Admin") && Model.FoodRequest.Status == Status.ForApproval)
                            {
                                <text>
                                    <button class="btn btn-primary" type="button" id="btnSubmit">Approve</button>
                                    <button class="btn btn-primary" type="button" id="btnDecline">Reject</button>
                                </text>

                            }
                        }
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Estimated Price Per Unit</th>
                            <th>Total Estimated Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FoodCollection)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Food.Code)</td>
                                <td> @Html.DisplayFor(modelItem => item.Food.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.Food.Unit)</td>
                                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td> @Html.DisplayFor(modelItem => item.EstimatedPrice)</td>
                                <td> @Html.DisplayFor(modelItem => item.TotalEstimatedPrice)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Code</strong></td>
                            <td><strong>Name</strong></td>
                            <td><strong>Unit</strong></td>
                            <td><strong>Quantity</strong></td>
                            <td><strong>Estimated Price Per Unit</strong></td>
                            <td><strong>Total Estimated Price</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
