@{
    ViewData["Title"] = "Inventory";

}
@model Attila.UI.Models.InventoryDataCVM

@section Scripts{
    <script>

        $(document).on('click', 'tr .view-delivery-details', function (e) {
            id = $(this).closest('tr').attr('data-id');
            var url = window.location.href = '/Inventory/ViewDeliveryDetails?id=' + id;
            window.location.href = url.replace('__id__', id);
        });

        $(document).on('click', 'tr .view-request-food', function (e) {
            id = $(this).closest('tr').attr('data-id');
            var url = window.location.href = '/Inventory/RequestFoodRestock?id=' + id;
            window.location.href = url.replace('__id__', id);
        });

         $(document).on('click', 'tr .del-food', function (e) {
             deleteId = $(this).closest('tr').attr('data-id');
             $.post('/Inventory/DeleteFoodRequest', { id: deleteId })
             .done(function (result) {
                                if (result == true) {
                                    alert("Food request successfully deleted!");
                                    window.location = "/Inventory/Index";
                                }
                                else {
                                    alert("Failed!");
                                    window.location = "/Inventory/Index";
                                }
                            });
        });

        $(document).on('click', 'tr .view-request-equip', function (e) {
            id = $(this).closest('tr').attr('data-id');
            var url = window.location.href = '/Inventory/RequestEquipmentRestock?id=' + id;
            window.location.href = url.replace('__id__', id);
        });

        $(document).on('click', 'tr .del-equip', function (e) {
            deleteId = $(this).closest('tr').attr('data-id');
            $.post('/Inventory/DeleteEquipmentRequest', { id: deleteId })
             .done(function (result) {
                                if (result == true) {
                                    alert("Equipment request successfully deleted!");
                                    window.location = "/Inventory/Index";
                                }
                                else {
                                    alert("Failed!");
                                    window.location = "/Inventory/Index";
                                }
                            });
        });

        $(document).on('click', 'tr .view-fr', function (e) {
            id = $(this).closest('tr').attr('data-id');
            var url = window.location.href = '/Inventory/FoodRestockRequestDetails?id=' + id;
            window.location.href = url.replace('__id__', id);
        });

        $(document).on('click', 'tr .view-er', function (e) {
            id = $(this).closest('tr').attr('data-id');
            var url = window.location.href = '/Inventory/EquipmentRestockRequestDetails?id=' + id;
            window.location.href = url.replace('__id__', id);
        });

    </script>
}


<div class="container-fluid" style="margin-top: 10px;">
    <h3 class="text-dark mb-4">Inventory</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Deliveries</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <p class="text-primary m-0 font-weight-bold"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddInventoryDelivery", "Inventory")'">Add</button></p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Date of Delivery</th>
                            <th>Supplier</th>
                            <th>Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InventoryDeliveryVM)
                        {
                            <tr data-id="@item.ID">
                                <td> @Html.DisplayFor(modelItem => item.DeliveryDate)</td>
                                <td> @Html.DisplayFor(modelItem => item.Supplier.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.DeliveryPrice)</td>
                                <td><button type="button" class="btn btn-primary border rounded  view-delivery-details">View Details</button> </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Date of Delivery</strong></td>
                            <td><strong>Supplier</strong></td>
                            <td><strong>Price</strong></td>
                            <td><strong> </strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("AddFood", "Inventory")'">Register New Food</button></div>
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("AddFoodInventory", "Inventory")'">Add Food Stock</button></div>
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("UpdateFoodStock", "Inventory")'">Update Food Stock</button></div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Food Info</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Specification</th>
                            <th>Quantity</th>
                            <th>Expiration Date</th>
                            <th>Unit</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FoodListVM)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Description)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Specification)</td>
                                <td> @($"{item.Quantity:n2}")</td>
                                <td> @($"{item.ExpirationDate:MMM dd, yyyy}")</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Unit)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.FoodType)</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Description</strong></td>
                            <td><strong>Specification</strong></td>
                            <td><strong>Quantity</strong></td>
                            <td><strong>Unit</strong></td>
                            <td><strong>Type</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 10px;">
    <div style="margin: 10px;">
        <div class="row">
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("AddEquipment", "Inventory")'">Register New Equipment</button></div>
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("AddEquipmentInventory", "Inventory")'">Add Equipment Stock</button></div>
            <div class="col-4 text-center"><button class="btn btn-primary" type="button" style="font-size: 11px;" onclick="location.href='@Url.Action("UpdateEquipmentStock", "Inventory")'">Update Equipment Stock</button></div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Equipment Info</p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-3" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Rental Fee</th>
                            <th>Quantity</th>
                            <th>Unit Type</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.EquipmentListVM)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.RentalFee)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td>@Html.DisplayFor(modelItem => item.UnitType)</td>
                                <td>@Html.DisplayFor(modelItem => item.EquipmentType)</td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Description</strong></td>
                            <td><strong>Rental Fee</strong></td>
                            <td><strong>Quantity</strong></td>
                            <td><strong>Type</strong></td>
                            <td><strong>Salary</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>


@{
    if (User.IsInRole("InventoryManager"))
    {

        <div class="container-fluid" style="margin-top: 10px;">
            <h3 class="text-dark mb-4">Requests</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <p class="text-primary m-0 font-weight-bold">Food Restock Requests</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <p class="text-primary m-0 font-weight-bold"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddFoodRestockRequest", "Inventory")'">Add</button></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Date of Request</th>
                                    <th>Status</th>
                                    <th>Requested by</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FoodRequestList)
                                {
                                <tr data-id="@item.ID">
                                    <td> @Html.DisplayFor(modelItem => item.DateTimeRequest)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                    <td> @Html.DisplayFor(modelItem => item.InventoryManager.Name)</td>
                                    <td><button type="button" class="btn btn-primary border rounded  view-request-food"> View Request Details</button>  </td>
                                    <td><button type="button" class="btn btn-primary border rounded  del-food"> Delete Request </button>  </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Date of Request</strong></td>
                                    <td><strong>Status</strong></td>
                                    <td><strong>Requested by</strong></td>
                                    <td><strong> </strong></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 10px;">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <p class="text-primary m-0 font-weight-bold">Equipment Restock Requests</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <p class="text-primary m-0 font-weight-bold"><button class="btn btn-primary" onclick="location.href='@Url.Action("AddEquipmentRestockRequest", "Inventory")'" type="button">Add</button></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Date of Request</th>
                                    <th>Status</th>
                                    <th>Requested by</th>
                                    <th> </th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EquipmentRequestList)
                                {
                                <tr data-id="@item.ID">
                                    <td> @Html.DisplayFor(modelItem => item.DateTimeRequest)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                    <td> @Html.DisplayFor(modelItem => item.InventoryManager.Name)</td>
                                    <td> <button type="button" class="btn btn-primary border rounded  view-request-equip"> View Request Details</button>  </td>
                                    <td><button type="button" class="btn btn-primary border rounded   del-equip"> Delete Request </button>  </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Date of Request</strong></td>
                                    <td><strong>Status</strong></td>
                                    <td><strong>Requested by</strong></td>
                                    <td><strong></strong></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Admin"))
    {

        <div class="container-fluid" style="margin-top: 10px;">
            <h3 class="text-dark mb-4">Requests</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <p class="text-primary m-0 font-weight-bold">Pending Food Restock Requests</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <p class="text-primary m-0 font-weight-bold"><button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddFoodRestockRequest", "Inventory")'">Add</button></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive table mt-2" id="dataTable-2" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Date of Request</th>
                                    <th>Status</th>
                                    <th>Requested by</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ForApprovalFoodRequestList)
                                {
                                    <tr data-id="@item.ID">
                                        <td> @Html.DisplayFor(modelItem => item.DateTimeRequest)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                        <td> @Html.DisplayFor(modelItem => item.InventoryManager.Name)</td>
                                        <td><button type="button" class="btn btn-primary border rounded  view-fr"> View Request Details</button>  </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Date of Request</strong></td>
                                    <td><strong>Status</strong></td>
                                    <td><strong>Requested by</strong></td>
                                    <td><strong> </strong></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 10px;">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <p class="text-primary m-0 font-weight-bold">Pending Equipment Restock Requests</p>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                            <p class="text-primary m-0 font-weight-bold"><button class="btn btn-primary" onclick="location.href='@Url.Action("CreateEquipmentRequest", "Inventory")'" type="button">Add</button></p>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Date of Request</th>
                                    <th>Status</th>
                                    <th>Requested by</th>
                                    <th> </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ForApprovalEquipmentRequestList)
                                {
                                    <tr data-id="@item.ID">
                                        <td> @Html.DisplayFor(modelItem => item.DateTimeRequest)</td>
                                        <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                        <td> @Html.DisplayFor(modelItem => item.InventoryManager.Name)</td>
                                        <td> <button type="button" class="btn btn-primary border rounded  view-er"> View Request Details</button>  </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Date of Request</strong></td>
                                    <td><strong>Status</strong></td>
                                    <td><strong>Requested by</strong></td>
                                    <td><strong></strong></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    }
}
