@{
    ViewData["Title"] = "Inventory";

}
@model Attila.UI.Models.InventoryDataVM

@*@section Scripts{

        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

        <script src="../assets/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>



        <partial name="_ValidationScriptsPartial" />




    }
    @section Styles{
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    }*@


@section Scripts {
    <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
}





@section Styles{
    <style>
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
    </style>

    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}




<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase">@ViewData["Title"]</span>
        </div>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>



<div class="row">

    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">@ViewData["Title"]</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="caption">

                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("AddInventoryDelivery", "Inventory")'">
                                    Add New Delivery
                                </button>

                            </div>

                        </div>

                    </div>
                </div>


                <table class="display" id="sample_1">
                    <thead>
                        <tr>
                            <th>Delivery Date</th>
                            <th>Supplier</th>
                            <th>Address</th>

                        </tr>
                    </thead>

                    <tbody>

                        @*@foreach (var item in Model.FoodListVM)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.FoodDetails.Name)</td>
                                    <td> @Html.DisplayFor(modelItem => item.FoodDetails.Description)</td>


                                </tr>
                            }*@


                    </tbody>


                </table>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->




    </div>
</div>



<div class="row">

    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">FOOD </span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="caption">
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("AddFood", "Inventory")'">
                                    Add New
                                </button>
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("RequestFoodRestock", "Inventory")'">
                                    Request Food Restock
                                </button>
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("AddFoodInventory", "Inventory")'">
                                    Add Food Restock
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


                <table class="display" id="sample_2">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Specification</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Food Type</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model.FoodListVM)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Description)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Specification)</td>
                                <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.Unit)</td>
                                <td> @Html.DisplayFor(modelItem => item.FoodDetails.FoodType)</td>

                            </tr>
                        }


                    </tbody>


                </table>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->




    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <span class="caption-subject bold uppercase">EQUIPMENT</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="caption">
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("AddEquipment", "Inventory")'">
                                    Add New
                                </button>
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("RequestEquipmentRestock", "Inventory")'">
                                    Request Equipment Restock
                                </button>
                                <button id="sample_editable_1_new" class="btn sbold green " onclick="location.href='@Url.Action("AddEquipmentInventory", "Inventory")'">
                                    Add Equipment Restock
                                </button>
                            </div>

                        </div>

                    </div>
                </div>


                <table class="display" id="sample_3">
                    
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Rental Fee</th>
                            <th>Quantity</th>
                            <th>Unit Type</th>
                            <th>Equipment Type</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.EquipmentListVM)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.EquipmentDetails.Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.Description)</td>
                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.RentalFee)</td>
                                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.UnitType)</td>
                                <td> @Html.DisplayFor(modelItem => item.EquipmentDetails.EquipmentType)</td>

                            </tr>
                        }


                    </tbody>


                </table>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->




    </div>
</div> 
