@model Attila.UI.Models.FoodRestockRequestCVM
@{  

    ViewData["Title"] = "Request Food Restock";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Request Food Restock
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-green uppercase">@ViewData["Title"]</span>
                </div>

            </div>
            <div class="portlet-body">





                <form role="form" asp-controller="Inventory" asp-action="RequestFoodRestock" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                    <input type="hidden" class="form-control" asp-for="FoodRequest.ID" readonly>


                    @{

                        if (Model.FoodCollection != null)
                        {
                            <table class="table table-striped table-bordered table-hover order-column events" id="sample_1">
                                <thead>
                                    <tr>

                                        <th> Name </th>
                                        <th> Requested Quantity </th>


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.FoodCollection)
                                    {
                                        <tr data-id="@item.ID">
                                            <td>@Html.DisplayFor(modelItem => item.Food.Name)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Quantity)</td>


                                        </tr>
                                    }


                                </tbody>
                            </table>
                        }

                    }

 
                             


                            <div class="form-body">

                                <div class="form-group">
                                    <label>Select Food </label>
                                    @Html.DropDownListFor(m => m.FoodDetails.ID, Model.FoodDetailsList, "----SELECT ITEM----", new { @class = "form-control" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" asp-for="Quantity" min=0 placeholder="" class="form-control">
                            </div>
                            

                     


                    <div class="margin-top-10">
                        <button type="submit" id="btnSubmit" class="btn green">Submit </button>
                    </div>
                </form>



            </div>
        </div>
    </div>

</div>




<div class="modal fade" id="successreq" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close edit-request-food"  data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Successful Request</h4>
            </div>
            <div class="modal-body">Restock request has been sent successfully! </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline edit-request-food" o data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        function OnSuccess(e) {
            $("#successreq").modal('show');


        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

        function addField(n) {
             var tr = n.parentNode.parentNode.cloneNode(true);
            document.getElementById('sample_1').appendChild(tr);



        }
    var id = @Model.FoodRequest.ID
         $(document).on('click', '.edit-request-food', function (e) { 
              
                var url =window.location.href = '/Inventory/RequestFoodRestock?id=' + id; 
            window.location.href = url.replace('__id__', id);


            });

    </script>
}
