@model IEnumerable<Attila.Application.Inventory_Manager.Equipment.Queries.EquipmentDetailsVM>

@{
    ViewData["Title"] = "DeleteEquipmentDetailsCommand";
}

<h1>Delete Equipment</h1>
<hr />

<form class="form-group" asp-action="DeleteEquipmentDetailsCommand" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Enter equipment ID: </label>
            <input asp-for="ID" id="txtDeleteId" class="form-control" />
            <br />
            <button id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <br />
    <br />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID ")
            </th>
            <th>
                @Html.DisplayName("Code")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Unit Type")
            </th>
            <th>
                @Html.DisplayName("Equipment Type")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquipmentType)
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">
        function OnSuccess(result) {
            if (result == true) {
                alert("Equipment successfully deleted!");
                window.location = "/InventoryManager/Index";
            }

            else {
                alert("Failed!");
                window.location = "/InventoryManager/DeleteEquipmentDetailsCommand";
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}



@*@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                if ($('#txtDeleteId').val()) {

                    var _deleteId = $('#txtDeleteId').val();

                    $.post('/InventoryManager/DeleteEquipmentDetailsCommand', { deleteID: _deleteId })
                        .done(function (result) {
                            if (result == true) {
                                alert("Equipment successfully deleted!");
                                window.location = "/InventoryManager/Index";
                            }
                            else {
                                alert("Failed!");
                                window.location = "/InventoryManager/DeleteEquipmentDetailsCommand";
                            }
                        });
                }
                else {
                    alert("Please enter ID to delete.");
                }
            });
        });

    </script>
}*@
