@model IEnumerable<Attila.Application.Inventory_Manager.Food.Queries.FoodsDetailsVM>

@{
    ViewData["Title"] = "DeleteFoodDetailsCommand";
}

<h1>Delete Food</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter food ID: </label>
        <input id="txtDeleteId" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>
<br />
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID ")
            </th>
            <th>
                @Html.DisplayName("Code")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Specification")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Unit Type")
            </th>
            <th>
                @Html.DisplayName("Food Type")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodType)
                </td>
            </tr>
        }
    </tbody>
</table>






@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                if ($('#txtDeleteId').val()) {

                    var _deleteId = $('#txtDeleteId').val();

                    $.post('/InventoryManager/DeleteFoodDetailsCommand', { deleteID: _deleteId })
                        .done(function (result) {
                            if (result == true) {
                                alert("Food successfully deleted!");
                                window.location = "/InventoryManager/Index";
                            }
                            else {
                                alert("Failed!");
                                window.location = "/InventoryManager/DeleteFoodDetailsCommand";
                            }
                        });
                }

                else {
                    alert("Please enter ID to delete.");
                }

            });
        });

    </script>
}