@model IEnumerable<Attila.Application.Inventory_Manager.Food.Queries.FoodsInventoryVM>

@{
    ViewData["Title"] = "GetFoodStock";
}

<h1>View Food Stock List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("Expiration Date")
            </th>
            <th>
                @Html.DisplayName("Encoding Date")
            </th>
            <th>
                @Html.DisplayName("Item Price")
            </th>
            <th>
                @Html.DisplayName("Remarks")
            </th>
            <th>
                @Html.DisplayName("User ID")
            </th>
            <th>
                @Html.DisplayName("Food Details ID")
            </th>
            <th>
                @Html.DisplayName("Food Delivery ID")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncodingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodDetailsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodRestockID)
            </td>
        </tr>
}
    </tbody>
</table>
