@model Attila.Application.Inventory_Manager.Food.Queries.FoodDetailsVM

@{
    ViewData["Title"] = "SearchFoodByIdQuery";
}

<h1>Search Food By Id</h1>


<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter food ID: </label>
        <input id="txtSearchID" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>

<div id="searchView" style="display:none">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("ID: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Code: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Name: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Specification: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Description: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Unit Type: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Food Type: ")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodType)
        </dd>
    </dl>
</div>

@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {
                alert("test");
                var _searchID = $('#txtSearchID').val();

                $.post('/InventoryManager/SearchFoodByIdQuery', { searchedID: _searchID }).done(function (data) { InputResult(data) });

            });
        });

        function InputResult(result) {
            if (result != null) {
                alert("Food successfully searched!");
                $('#searchView').show();
                //must get the value of the returned object and pass it to the model in the UI
            }
            else {
                alert("Failed!");
                window.location = "/InventoryManager/SearchFoodByIdQuery";
            }
        }

    </script>
}