@model IEnumerable<Attila.UI.Models.EquipmentDetailsVM>

@{
    ViewData["Title"] = "SearchEquipmentByKeywordQuery";
}

<h1>Search Equipment By Keyword</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter keyword: </label>
        <input id="txtKeyword" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>
<br /><br /><br /><br/>
<div id="searchView" style="display:none">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EquipmentType)
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {
                alert("test");
                var _searchedKeyword = $('#txtKeyword').val();

                $.post('/InventoryManager/SearchEquipmentByKeywordQuery', { searchKeyword: _searchedKeyword }).done(function (data) { InputResult(data) });

            });
        });

        function InputResult(result) {
            if (result != null) {
                alert("Equipment keyword successfully searched!");
                $('#searchView').show();
                //must get the value of the returned object and pass it to the model in the UI
            }
            else {
                alert("Failed!");
                window.location = "/InventoryManager/SearchEquipmentByKeywordQuery";
            }
        }
        debugger;

    </script>
}
