@using Attila.Application.Users.Queries

@{
    ViewData["Title"] = "User List";

}

@model IEnumerable<UserVM>

@section Styles {
    <style>
        .user-each {
            cursor: pointer;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $('document').ready(function () {
            $('.user-each').on('click', function () {
                var _this = this,
                    _userUID = $(_this).data('userUid');

                window.location = '/User/Profile?uid=' + _userUID;
            });
        });
    </script>
} 



<div class="container-fluid" style="margin-top: 10px;">
    <h3 class="text-dark mb-4">User List</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold"></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <p class="text-primary m-0 font-weight-bold">
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Register", "User")'">Add</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Position</th>
                            <th>Email Address</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var _user in Model)
                        {
                            <tr class="user-each" data-user-uid="@_user.UID">
                                <td>@_user.Name</td>
                                <td>@_user.Role</td>
                                <td>@_user.Position</td>
                                <td>@_user.Email</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Role</strong></td>
                            <td><strong>Position</strong></td>
                            <td><strong>Email Address</strong></td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
</div>

