@model Attila.Application.Users.Queries.UserVM
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>

<h3>Username: @Model.Username</h3>
<h3>Name: @Model.Name</h3>
<h3>Position: @Model.Position</h3>
<h3>Phone: @Model.ContactNumber</h3>
<h3>Email: @Model.Email</h3>
