@model Attila.UI.Models.InventoryViewVM

@{
    ViewData["Title"] = "Inventory";
}

<div class="text-center">
    <h1>INVENTORY</h1><br>
</div>

<div class="text-center" >
    <h3>PENDING FOOD RESTOCK REQUEST</h3>
</div>
<table class="request" style="width:100%">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Request Date</th>
        <th>Inventory Manager</th>
        <th>Status</th>

    </tr>
    @{
        foreach (var item in Model.PendingFoodRestockRequest)
        {
            <tr>
                <td>@item.FoodDetails.Name</td>
                <td>@item.Quantity</td>
                <td>@item.DateTimeRequest.Date.ToShortDateString()</td>
                <td>@item.User.Name</td>
                <td>@item.Status</td>

            </tr>

        }
    }
</table>


<div class="text-center">
    <br><h3>PENDING EQUIPMENT RESTOCK REQUEST</h3>
</div>
<table class="request" style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Request Date</th>
        <th>Inventory Manager</th>
        <th>Status</th>
    </tr>

    @{
        foreach (var item in Model.PendingEquipmentRestockRequest)
        {
            <tr>
                <td>@item.EquipmentDetails.Name</td>
                <td>@item.Quantity</td>
                <td>@item.DateTimeRequest.Date.ToShortDateString()</td>
                <td>@item.User.Name</td>
                <td>@item.Status</td>
            </tr>

        }
    }

</table>




<style>
    table#example {
        border-collapse: collapse;
    }

    .request tr {
        background-color: #eee;
        border-top: 1px solid #fff;
    }

    .request td {
        padding: 8px 2px 10px 20px;
    }

    .request tr:hover {
        background-color: #ccc;
    }

    .request th {
        background-color: #fff;
    }

    .request th, #example td {
        padding: 8px 2px 10px 20px;
    }

    .request td:hover {
        cursor: pointer;
    }
</style>
