@model Attila.Application.Coordinator.Event.Queries.SearchClientVM

@{
    ViewData["Title"] = "SearchClientById";
}

<h1>Search Client By Id</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter equipment ID: </label>
        <input id="txtSearchID" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>
<br />

<hr />
<br />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayName("ID: ")
    </dt>
    <dd class="col-sm-10">
        <input id="ID" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("First Name: ")
    </dt>
    <dd class="col-sm-10">
        <input id="firstName" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Last Name: ")
    </dt>
    <dd class="col-sm-10">
        <input id="lastName" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Address: ")
    </dt>
    <dd class="col-sm-10">
        <input id="address" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Email Address: ")
    </dt>
    <dd class="col-sm-10">
        <input id="emailAddress" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Contact Number: ")
    </dt>
    <dd class="col-sm-10">
        <input id="contactNumber" readonly>
    </dd>
</dl>


@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {
                var _searchID = $('#txtSearchID').val();


                $.post('/InventoryManager/SearchClientById', { _clientId: _searchID })
                    .done(function (result) {

                        alert("Client ID successfully searched!");
                        $("#ID").val(result.id);
                        $("#firstName").val(result.firstName);
                        $("#lastName").val(result.lastName);
                        $("#address").val(result.address);
                        $("#emailAddress").val(result.emailAddress);
                        $("#contactNumber").val(result.contactNumber);

                        $("#txtSearchID").val("");

                    })
                    .fail(function (error) {
                        alert("Equipment ID does not exist!")
                    });
            });

        });

    </script>
}