@model Attila.Application.Coordinator.Event.Queries.SearchEventVM

@{
    ViewData["Title"] = "SearchEventById";
}

<h1>Search Event By Id</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter event ID: </label>
        <input id="txtSearchID" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>
<br />

<hr />
<br />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayName("ID: ")
    </dt>
    <dd class="col-sm-10">
        <input id="ID" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Code: ")
    </dt>
    <dd class="col-sm-10">
        <input id="code" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Event Name")
    </dt>
    <dd class="col-sm-10">
        <input id="eventName" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Type: ")
    </dt>
    <dd class="col-sm-10">
        <input id="type" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Event Status: ")
    </dt>
    <dd class="col-sm-10">
        <input id="eventStatus" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Address: ")
    </dt>
    <dd class="col-sm-10">
        <input id="address" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Booking Date: ")
    </dt>
    <dd class="col-sm-10">
        <input id="bookingDate" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Event Date: ")
    </dt>
    <dd class="col-sm-10">
        <input id="eventDate" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Description: ")
    </dt>
    <dd class="col-sm-10">
        <input id="description" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Location: ")
    </dt>
    <dd class="col-sm-10">
        <input id="location" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Remarks: ")
    </dt>
    <dd class="col-sm-10">
        <input id="remarks" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("User ID: ")
    </dt>
    <dd class="col-sm-10">
        <input id="userID" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Event Package Details ID: ")
    </dt>
    <dd class="col-sm-10">
        <input id="eventPackageDetailsID" readonly>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayName("Event Client ID: ")
    </dt>
    <dd class="col-sm-10">
        <input id="eventClientID" readonly>
    </dd>
</dl>


@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {
                var _searchID = $('#txtSearchID').val();


                $.post('/Coordinator/SearchEventById', { _eventId: _searchID })
                    .done(function (result) {

                        alert("Event ID successfully searched!");
                        $("#ID").val(result.id);
                        $("#code").val(result.code);
                        $("#eventName").val(result.eventName);
                        $("#type").val(result.type);
                        $("#eventStatus").val(result.eventStatus);
                        $("#address").val(result.address);
                        $("#bookingDate").val(result.bookingDate);
                        $("#eventDate").val(result.eventDate);
                        $("#description").val(result.description);
                        $("#location").val(result.location);
                        $("#remarks").val(result.remarks);
                        $("#userID").val(result.userID);
                        $("#eventPackageDetailsID").val(result.eventPackageDetailsID);
                        $("#eventClientID").val(result.eventClientID);

                        $("#txtSearchID").val("");

                    })
                    .fail(function (error) {
                        alert("Event ID does not exist!")
                    });
            });

        });

    </script>
}