<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar ">

        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

            <li class="nav-item start ">
                <div class="page-logo">
                    <a href="/">
                        <img src="../assets/apps/img/logo.svg" alt="logo" class=" btn-block logo-default" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>


                <a href="/Home" class="nav-link ">
                    <i class="icon-home"></i>
                    <span class="title">Home</span>
                </a>

            </li>
            <li class="nav-item ">
                <a href="/Notification" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Notifications</span>
                </a>

            </li>
            @{
                if (User.IsInRole("Admin") || User.IsInRole("InventoryManager"))
                {
                    <li class="nav-item ">
                        <a href="/Inventory" class="nav-link nav-toggle">
                            <i class="icon-folder"></i>
                            <span class="title">Inventory</span>
                        </a>

                    </li>
                } }
            @{
                if (User.IsInRole("Admin") || User.IsInRole("Coordinator"))
                {

                    <li class="nav-item  ">
                        <a href="/Events" class="nav-link nav-toggle">
                            <i class="icon-pointer"></i>
                            <span class="title">Events</span>
                        </a>

                    </li>


                } }



            @{
                if (User.IsInRole("Admin"))
                {
                    <li class="nav-item  ">
                        <a onclick="location.href='@Url.Action("Index", "EventPackages")'" class="nav-link nav-toggle">
                            <i class="icon-diamond"></i>
                            <span class="title">Packages</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a onclick="location.href='@Url.Action("Index", "Reports")'" class="nav-link nav-toggle">
                            <i class="icon-folder"></i>
                            <span class="title">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a onclick="location.href='@Url.Action("Index", "Payment")'" class="nav-link nav-toggle">
                            <i class="icon-wallet"></i>
                            <span class="title">Payments</span>
                        </a>
                    </li>
                } }
            @{
                if (User.IsInRole("Admin") || User.IsInRole("Coordinator"))
                {
                    <li class="nav-item  ">
                        <a onclick="location.href='@Url.Action("Index", "Clients")'" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">Clients</span>
                        </a>

                    </li>
                } }
            @{
                if (User.IsInRole("Admin") || User.IsInRole("InventoryManager"))
                {

                    <li class="nav-item  ">
                        <a onclick="location.href='@Url.Action("Suppliers", "Inventory")'" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">Suppliers</span>
                        </a>
                    </li>
                } }

            @{
                if (User.IsInRole("Admin"))
                {
                    <li class="nav-item ">
                        <a href="/User/List" class="nav-link nav-toggle">
                            <i class="icon-user"></i>
                            <span class="title">User List</span>
                        </a>
                    </li>
                }
            }

            <li onclick="location.href='@Url.Action("SignOut", "Home")'" class="nav-link nav-toggle">
                <a class="nav-link nav-toggle">
                    <i class="icon-logout"></i>
                    <span class="title">Log out</span>
                </a>

            </li>



        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>