@model Attila.UI.Models.ViewEventVM


<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

</div>
<div class="modal-body">
    <div class="text-center">
        <h2>Event Details</h2>
    </div>
       <table class="event" style="width:100%">
            <tr>
                <th>EVENT CODE</th>
                <th>EVENT NAME</th>
                <th>EVENT TYPE</th>
                <th>EVENT PACKAGE</th>
                <th>BOOKING DATE</th>
                <th>EVENT LOCATION</th>
                <th>EVENT DATE</th>
                <th>EVENT COORDINATOR</th>
            </tr>
            <tr>
                <td>@Model.EventDetails.Code</td>
                <td>@Model.EventDetails.EventName</td>
                <td>@Model.EventDetails.Type</td>
                <td>@Model.EventDetails.Package.Name</td>
                <td>@Model.EventDetails.BookingDate.ToShortDateString()</td>
                <td>@Model.EventDetails.Location</td>
                <td>@Model.EventDetails.EventDate.ToShortDateString()</td>
                <td>@Model.EventDetails.Coordinator.Name</td>
            </tr>
       </table>

     <div class="text-center">
          <h2>Additional Equipment Request</h2>
     </div>
          <table class="equipment" style="width:100%">
               <tr>
                   <th>EQUIPMENT CODE</th>
                   <th>EQUIPMENT NAME</th>
                   <th>EQUIPMENT QUANTITY</th>
               </tr>
               <tr>
                   <td>DASAFS</td>
                   <td>TABLE</td>
                   <td>25</td>
               </tr>
          </table>
         <div class="text-center">
              <h2>Additional Duration Request</h2>
         </div>
           <table class="duration" style="width:100%">
               <tr>
                   <th>DURATION</th>
                   <th>RATE</th>
               </tr>
               <tr>
                  <td>NONE</td>
                  <td>NONE</td>                     
               </tr>
           </table>

          <div class="text-center">
              <form asp-action="ApproveEvent" asp-controller="Admin" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
                  <input asp-for="EventDetails.ID" type="submit" id="btnApprove" value="Approve" class="btn btn-primary" />
                  <input type="submit" id="btnDecline" value="Decline" class="btn btn-primary" />

              </form>
                    
          </div>



<style>

    .event tr {
    background-color: #eee;
    border-top: 1px solid #fff;
    }

    .event td {
    padding: 8px 2px 10px 20px;
    }
    .event th, #example td {
    padding: 8px 2px 10px 20px;
    }

</style>


</div>
<div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>