@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Attila.Application.Admin.Events.Queries.EventVM>


 





<div class="container-fluid" style="margin-top: 10px;">
    <h3 class="text-dark mb-4">Payment</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Events</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <p class="text-primary m-0 font-weight-bold"></p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th> Event Date </th>
                            <th> Booking Date </th>
                            <th> Event Name </th>
                            <th> Client </th>
                            <th> Coordinator </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.ID">


                                <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
                                <td> @Html.DisplayFor(modelItem => item.BookingDate)</td>
                                <td> @Html.DisplayFor(modelItem => item.EventName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Name)   </td>
                                <td> @Html.DisplayFor(modelItem => item.Coordinator.Name) | @Html.DisplayFor(modelItem => item.Coordinator.Position)  </td>
                                <td>    <button type="button" class="btn btn-primary border rounded  see"> View Payment Record</button>  </td>
                                <td>    <button type="button" class="btn btn-primary border rounded  add-payment"> Add Payment </button>  </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Event Date</strong></td>
                            <td><strong>Booking Date</strong></td>
                            <td><strong>Event Name</strong></td>
                            <td><strong>Client</strong></td>
                            <td><strong>Coordinator</strong></td>
                            <td><strong></strong></td>
                            <td><strong></strong></td> 
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
@section Scripts {


    <partial name="_ValidationScriptsPartial" />

    <script>
        var a;


        $(document).on('click', 'tr .see', function (e) {
            try {
                 id = $(this).closest('tr').attr('data-id');
            var url = '@Url.Action("Record", "Payment", new { EventID = "__id__" })';
            window.location.href = url.replace('__id__', id);
            }
            catch (err) { alert(err); }
        });

        $(document).on('click', 'tr .add-payment', function (e) {

            id = $(this).closest('tr').attr('data-id');
            var url = '@Url.Action("AddPayment", "Payment", new { EventID = "__id__" })';
            window.location.href = url.replace('__id__', id);


        });


        $(document).ready(function () {
            $('#records').DataTable({
                order: [[0, 'asc'], [1, 'asc']],
                rowGroup: {
                    dataSrc: [0, 1]
                },
                columnDefs: [{
                    targets: [1, 0],
                    visible: false
                }]
            });


        });





    </script>
     

}