
@{


    ViewData["Title"] = "Records";
}
@model EventPaymentCVM


@section Styles{
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}
 
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">

    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Event : @Model.EventDetails.EventName    |    @Model.EventDetails.EventDate  |  @Model.EventDetails.Location</span>
                </div>

            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover order-column events" id="records">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Reference Number </th>
                            <th> Date Of Payment </th>
                            <th> Amount </th>
                            <th> Remarks </th>
                        </tr>
                    </thead>
                    <tbody>



                        @{int rowNo = 0;}
                        @foreach (var item in Model.PaymentStatus)
                        {
                            <tr>


                                <td>  @(rowNo += 1)</td>
                                <td> @Html.DisplayFor(modelItem => item.ReferenceNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.DateOfPayment)</td>
                                <td> @Html.DisplayFor(modelItem => item.Amount)</td>
                                <td> @Html.DisplayFor(modelItem => item.Remarks)    </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->




    </div>
</div>
