@{


    ViewData["Title"] = "Payment";
}
@model EventPaymentCVM

 

<div class="container-fluid" style="margin-top: 10px;">
    <h3 class="text-dark mb-4">Event Payment</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold">Record</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-12 col-xl-12 text-right">
                    <p class="text-primary m-0 font-weight-bold">  Event : @Model.EventDetails.EventName    |    @Model.EventDetails.EventDate  |  @Model.EventDetails.Location </p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th> Reference No. </th>
                            <th> Date Of Payment </th>
                            <th> Amount </th>
                            <th> Remarks </th>
                        </tr>
                    </thead>
                    <tbody>

                        @{int rowNo = 0;}
                        @foreach (var item in Model.PaymentStatus)
                        {
                            <tr>


                                <td>  @(rowNo += 1)</td>
                                <td> @Html.DisplayFor(modelItem => item.ReferenceNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.DateOfPayment)</td>
                                <td> @Html.DisplayFor(modelItem => item.Amount)</td>
                                <td> @Html.DisplayFor(modelItem => item.Remarks) </td>


                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong></strong></td>
                            <td><strong>Reference No.</strong></td>
                            <td><strong>Date of Payment</strong></td>
                            <td><strong>Amount</strong></td>
                            <td><strong>Remarks</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <h4 style="padding-left: 80%;">Total Charge : ₱@Html.DisplayFor(m => m.TotalCharges)</h4>
            <h4 style="padding-left: 80%;">Total Payment : ₱@Html.DisplayFor(m => m.TotalPayment)</h4>
        </div>
    </div>
</div>