@using Attila.Application.Coordinator.Events.Queries

@{
    ViewData["Title"] = "Clients";
}
@model IEnumerable<SearchClientVM>

 



 

 


<div class="container-fluid" style="margin-top: 10px;">
    <h3 class="text-dark mb-4">Clients</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <p class="text-primary m-0 font-weight-bold"></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                    <p class="text-primary m-0 font-weight-bold">
                        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Register", "Clients")'">Add</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive table mt-2" id="dataTable-4" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var _item in Model)
                        {
                        <tr>

                            <td>@($"{_item.Name}")</td>
                            <td>@_item.Email</td>
                            <td>@_item.Contact</td>
                            <td>@_item.Address</td>

                        </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Contact Number</strong></td>
                            <td><strong>Address</strong></td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
</div>






